.root {
    width: 100%;
    min-height: 250px;
    background-color: var(--dark-transparent-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.horizontalClass {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 50px);
    list-style: none;
    overflow-x: scroll;
}

.verticalClass {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
    list-style: none;
}