.root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-basis: 140px;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 280px;
    height: 160px;
    padding: 10px;
    background-color: var(--dark-transparent-color);
    color: var(--light-color);
    border-radius: var(--border-radius);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemName {
    font-size: 1.1em;
    font-weight: 800;
    text-align: center;
}

.itemValue {
    margin-top: 5px;
    font-size: 1.3em;
}