.root {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--light-color);
    background-color: var(--grey-color);
    border-radius: var(--full-border-radius);
    font-family: var(--font-text);
    font-size: 1.1em;
    cursor: pointer;
}