.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    width: 100%;
    list-style: none;
}

.error {
    width: 100%;
    color: var(--light-color);
    text-align: center;
}