.root {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 15%;
    width: 100%;
    height: 250px;
    background: radial-gradient(
        farthest-corner at 0 0, var(--default-second-color) 25%, var(--default-first-color) 60%
    );
    border-radius: var(--border-radius);
}

.booleanSliderContainer {
    width: 100%;
    height: fit-content;
}

.leftSliderContainer, .rightSliderContainer {
    position: relative;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-gap: 25%;
    width: 100%;
    height: 100%;
    transition: var(--transition-time);
    transition-timing-function: var(--transition-timing-fuction);
}

.leftSliderContainer {
    left: 0;
}

.rightSliderContainer {
    left: -125%;
}

.manuallyContainer, .automaticallyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
}