:root {
    /* Colors */
    --grey-color: #596475;
    --dark-color: #1F2232;
    
        /* Default theme */
        --default-light-color: #EAF0F1;
        --default-first-color: #A0E6EF;
        --default-second-color: #7EC6E0;

        /* Day theme */
        --day-light-color: #E8FBFC;
        --day-first-color: #7EC6E0;

        /* Night theme */
        --night-light-color: #E9E8FC;
        --night-first-color: #3C376D;

        /* Rain theme */
        --rain-light-color: #E8FBFC;
        --rain-first-color: #9FB4C2;

    --text-color: var(--grey-color);
  
    /* Font & weight */
    --font-title: "CuteDino";
    --font-text: "Quicksand";
  
    /* Divers */
    --border-main-color: solid 3px var(--main-color);
    --border-second-color: solid 3px var(--second-color);
    --border-red-color: solid 3px var(--red-color);
    --border-radius: 25px;
    --transition-time: .4s;
    --transition-timing-fuction : cubic-bezier(.36,-0.04,.18,1.47);
  
    /* Anchor */
    --anchor-color: var(--white);
    --anchor-color-hover: var(--second-color);
  
    /* Radius */
    --full-border-radius: 999px;
    --normal-border-radius: 30px;
    --litle-border-radius: 20px;
  }
  
  @font-face {
    font-family: CuteDino;
    src: url("./font/CuteDino/Cute\ Dino.ttf");
  }
  
  @font-face {
    font-family: Quicksand;
    src: url("./font/Quicksand/Quicksand-VariableFont_wght.ttf");
  }

  * {
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--default-light-color);
    color: var(--text-color);
    width: 100vw;
    height: 100dvh;
    font-family: var(--font-text);
    overflow: hidden;
    transition: var(--transition-time);
  }

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  height: 100%;
  overflow: hidden;
}