.root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: var(--transition-time);
}

.content {
    position: relative;
    inset: 0;
}

.mainDataLoading {
    visibility: hidden;
    min-height: 70.55vh; /* float value to prevent error for scroll() animation function of weatherHeader component */
    margin-top: 20px;
}

.mainDataLoaded {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 70.55vh; /* float value to prevent error for scroll() animation function of weatherHeader component */
    visibility: unset;
    animation: 1s cubic-bezier(.17,.84,.44,1) 0s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }
    75% {
        transform: translate(0, 0px);
    }
    100% {
        opacity: 1;
    }
}