.root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: lightgrey transparent;
    transition: var(--transition-time);
}

.content {
    position: relative;
    inset: 0;
    margin-bottom: 40px;
    padding: 0 var(--padding);
}

.headerContainer {
    position: sticky;
    top: 20px;
    width: 100%;
    color: var(--light-color);
    z-index: 1;
}

.mainDataLoading {
    visibility: hidden;
    min-height: 105vh;
    margin-top: 20px;
}

.mainDataLoaded {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 105vh;
    padding-top: 260px;
    visibility: unset;
    animation: 1s cubic-bezier(.17,.84,.44,1) 0s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }
    75% {
        transform: translate(0, 0px);
    }
    100% {
        opacity: 1;
    }
}

.infoList {
    margin-left: 5%;
}