.error {
    margin: auto;
    width: 100%;
    color: var(--light-color);
    text-align: center;
}

.item {
    display: grid;
    grid-template-columns: minmax(90px, 245px) 58px 100px minmax(170px, 175px);
    gap: 15px;
    padding: 0 var(--padding);
    width: 100%;
    height: 60px;
    flex-basis: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--light-color);
    border-bottom: var(--border-grey-color);
}

.item:last-of-type {
    border-bottom: none;
}

.day {
    display: flex;
    justify-content: start;
    align-items: center;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 600;
}

.weatherIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperatureContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.precipitation {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}