.root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 var(--padding);
    width: 100%;
    height: 100%;
    transition: var(--transition-time);
}

@media (height <= 700px) {
    .root {
        margin-top: -100px;
        padding-top: 0;
    }
}
