.closedModal {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: var(--transition-time);
}

.openedModal {
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--grey-color);
    border-radius: 0 0 var(--normal-border-radius) var(--normal-border-radius);
    opacity: 1;
    overflow: hidden;
    transition: var(--transition-time);
}

.loadingOff {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.loadingOn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.loadingOn ~ .listContainer {
    opacity: 0;
}

.listContainer {
    padding: 35px 10px 10px 10px;
    display: grid;
    grid-template-rows: repeat(4, 40px);
    grid-gap: 10px;
    z-index: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    color: var(--text-color);
    background-color: var(--default-light-color);
    list-style: none;
    border-radius: var(--full-border-radius);
    cursor: pointer;
}

.flagContainer {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    overflow: hidden;
    border-radius: var(--full-border-radius);
    border: solid 1px var(--default-light-color);
    transition: var(--transition-time);
}

.flagImg {
    height: 165%;
}

.textContainer {
    padding: 10px;
}

.countryName {
    font-size: .8em;
}